{% load static %}
<div class="col-4 left-container">
    <a href="{% url 'home_view' %}"><i class="fab fa-twitter logo"></i></a><br>
    <div class="wraper">
        <form method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <input class="search_bar" placeholder="Search" name="search">
            <button class="search">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div class="profile">
        <img src="{% get_media_prefix %}{{ user_profile.avatar }}" class="avatar">
        <h5>{{ user_info.username|capfirst }}</h5>
        <h5 style="color: #adadad">{{ user_info.email|capfirst|lower }}</h5><br>
        <div class="row" style="margin-left: 1.5em; margin-right: 1.5em">
            <div class="col-6"><h5 style="color: #adadad">Followers</h5><h5>{{ user_profile.number_of_followers }}</h5>
            </div>
            <div class="col-6"><h5 style="color: #adadad">Following</h5><h5>{{ user_profile.number_of_following }}</h5>
            </div>
        </div>
        {% if user.username != user_info.username %}
            <form method="POST" action="{% url 'follow' user_info.id user.id %}">
                {% csrf_token %}
                {% if following %}
                    <button class="follow-clicked" type="submit">Unfollow</button>
                {% else %}
                    <button class="follow" type="submit">Follow</button>
                {% endif %}
            </form>
        {% endif %}
    </div>
</div>
