{% extends "base.html" %}
{% load static %}

{% block head_title %}Post{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    {% include 'feed/menu.html' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'feed/left_site.html' %}
            <div class="col-7 right-container">
                <h3>Tweet</h3>
                <div class="tweet">
                    <a href="{% url 'user_view' tweet.author.username %}">
                        <div class="title"><img src="{% get_media_prefix %}{{ user_profile.avatar }}"
                                                class="small-avatar">
                            <span>{{ tweet.author.username }}</span>
                        </div>
                    </a>
                    <div class="content">
                        <span>{{ tweet.content }} </span>
                    </div>
                    <div class="footer">
                        <span>{{ tweet.number_of_comments }} comments(s)</span>
                        <span style="float:right">{{ tweet.add_date }}</span>
                    </div>
                </div>
                <div class="new_tweet new_comment" style="margin-top: 1em">
                    <form method="POST" action="{% url 'add_comment' tweet.id %}">
                        {% csrf_token %}
                        <textarea name="content" class="new_tweet_content"></textarea><br>
                        <button class="new_tweet_submit" type="submit">Add comment</button>
                    </form>
                </div>
                {% for comment in tweet.comment_set.all %}
                    <div class="comment">
                        <a href="{% url 'user_view' comment.author.username %}">
                            <div class="title"><img src="{% get_media_prefix %}{{ comment.author.profile.avatar }}"
                                                    class="small-avatar">
                                <span>{{ comment.author.username }}</span>
                            </div>
                        </a>
                        <div class="content">
                            <span>{{ comment.content }} </span>
                        </div>
                        <div class="footer">
                            <span>{{ comment.add_date }}</span>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
